.container{
		font-size:14px;
		width:100%;
	}
	#firstImg{
	
	width:100%;
}
.row .col-lg-4 {
	
	text-align:center;
	
}
.row .col-lg-7 p{
	text-align:center;
}
.circ{
	
	width:120px;

}
@media(min-width:768px){
	#firstImg{width:100%}
	.container{
		width:100%
		font-size:12px;
	}
	
}
@media (max-width:768px){
	
	
	#firstImg{width:100%}
	.container{
		width:100%
		font-size:12px;
	}
	
}